html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1280px;
}
.manifesto .container {
  max-width: 720px;
}

header {
  padding-top: 2rem;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 4rem;
  text-transform: uppercase;
}

h1 span {
  display: block;
  padding-left: 4.4rem;
}

.mission, .metrics {
  margin-bottom: 4rem;
}

.blockquote {
  padding: 4rem 0;
  background: whitesmoke;
}

.blockquote blockquote {
  padding: 2rem;
  border-left: 4px solid;
  margin: inherit;
  font-style: italic;
}

.blockquote blockquote p {
  margin-top: 0;
  font-size: 1rem;
}

.blockquote blockquote i {
  display: block;
  font-weight: bold;
  font-size: .85rem;
}

dt {
  display: list-item;
  list-style-type: upper-roman;
  margin-top: 2rem;
}

dd {
  font-weight: 100;
  font-size: .75rem;
  font-style: italic;
  margin-left: 1rem;
}

@media screen and (max-width: 520px) {
  h1 {
    font-size: 3rem;
    line-height: 2.35rem;
  }

  h1 span {
    padding-left: 2.7rem;
  }

  .mission, .metrics {
    margin-bottom: 2rem;
  }

  .mission h2 {
    font-size: 1.2rem;
  }

  .blockquote {
    padding: 0;
  }

  .blockquote .container {
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
